<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo/style.css">
    <title>DW-5</title>
</head>
<body>
    <header>
        <img src="imagens/aviao.png" alt="Avião">
        <h1>TRAVEL</h1>
        <menu>
            <a href="#">hospedagens</a>
            <a href="#">Passagens</a>
            <a href="#">Pacotes</a>
            <a href="#">Ofertas</a>
            <a href="#">Aluguéis</a>
            <a href="#">Passeios</a>
            <a href="#">Escapadas</a>
            <a href="#">Carros</a>
            <a href="#">Seguros</a>
            <a href="#">Transfers</a>
        </menu>
    </header>

    <main>
        <div id="conteudo1">
            <article id="Bloco1">
                <h1>Passagens aéreas</h1>
                <section>
                    <input type="radio" name="" id=""> Ida e Volta
                    <input type="radio" name="" id=""> Só ida
                    <input type="radio" name="" id=""> Multidestino
                </section>
                <br>
                <section >
                    <input id="Caixa1" type="text" name="Local Origem" id="">
                    <div id="Emoji">
                        &#x1F504;
                    </div>
                    <input id="Caixa1" type="text" name="Local Destino" id="">
                </section>
                <br>
                <section>
                    <input id="Caixa1" type="date" name="Data Ida" id="">
                    <input id="Caixa1" type="text" name="Data Volta" id="">
                </section>
            </article>
        </div>
        
        <div id="conteudo2">
            <article id="bloco2">
                <section>
                    <h2>Recentemente você buscou</h2>
                </section>
            </article>
        </div>

    </main>
    
</body>
</html>