@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
    --font-padrao: "Segoe UI", sans-serif;



    --cor1: white;
    --cor2: black;
    --cor3: aqua;
    --cor4: rgb(255, 255, 0);
    --cor5: rgb(245, 245, 245);
    --cor6: green;
}

body{
    background-color: aqua;
    min-height: 100vh;
    font-family: var(--font-padrao);
    display: block;
    margin: 0px;
}

header{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header > div.TituloHeader{
    font-family: var(--font-padrao);
    text-align: center;
    font-size: 4vw;
    display: inline;
}

header > img{
    width: 100px;
    height: 100px;
}

nav{
    background-color: var(--cor3);
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.197);
}

nav > a {
    color: var(--cor2);
    padding: 10px;
    margin-left: 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor6);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}